.font{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}
.border{
    border-radius: 8px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
}
.btn{
    padding: 15px;
    border-radius: 30px;
    background-color:rgb(40, 40, 40) ;
    box-shadow: none;
    width: 100px;
    border: 1px solid rgb(63, 63, 63);
}
.btn:hover{
    padding: 18px;
}
.headings{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
}
.list{
    list-style-type: none;
}
